table {
    min-width: 300px;
    margin: 24px 0;
    font-size: var(--font-size-body);
    color: var(--body-font-color);
    border-collapse: collapse;
    text-align: right;
}

thead {
    font-weight: bold;
}

thead tr:first-child {
    border-bottom: 1px solid  var(--body-font-color);
}

th:first-child,
td:first-child {
    text-align: left;
}